# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
# NextAuth
AUTH_SECRET=BETTER_AUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# API
NEXT_PUBLIC_API_BASE_URL=/api
